<h1>多方案多属性多专家排序系统</h1>
<h3 class="form-signin-heading">请登陆</h3>

<div class="container">
 
<!-------->
<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#administrator" data-toggle="tab">管理员</a></li>
        <li><a href="#expert" data-toggle="tab">评标人</a></li>
        <li><a href="#toubiao" data-toggle="tab">投标人</a></li>
    </ul>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="administrator">
          <%= form_tag sessions_path, {:class => 'form-signin'} do %>
            <p>
              <%= label_tag :管理员 %><br />
              <%= text_field_tag :name, params[:name], {:class => 'form-control'} %>
            </p>
            <p>
              <%= label_tag :密码 %><br />
              <%= password_field_tag :password, params[:password], {:class => 'form-control'}%>
            </p>
            <input type="hidden" name="role" value="admin" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          <% end %>
        </div>
        <div class="tab-pane" id="expert">
          <%= form_tag sessions_path, {:class => 'form-signin'} do %>
            <p>
              <%= label_tag :评标人 %><br />
              <%= text_field_tag :name, params[:name], {:class => 'form-control'} %>
            </p>
            <p>
              <%= label_tag :密码 %><br />
              <%= password_field_tag :password, params[:password], {:class => 'form-control'}%>
            </p>
            <input type="hidden" name="role" value="expert" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          <% end %>
        </div>
        <div class="tab-pane" id="toubiao">
          <%= form_tag sessions_path, {:class => 'form-signin'} do %>
            <p>
              <%= label_tag :投标人 %><br />
              <%= text_field_tag :name, params[:name], {:class => 'form-control'} %>
            </p>
            <p>
              <%= label_tag :密码 %><br />
              <%= password_field_tag :password, params[:password], {:class => 'form-control'}%>
            </p>
            <input type="hidden" name="role" value="toubiao" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          <% end %>
        </div>
    </div>
</div>
 
 
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#tabs').tab();
    });
</script>    
</div> <!-- container -->